body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
	margin-top: 40px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.modal-body {
	font-size: 18px;
	font-weight: 400;
}

hr {
	height: 4px;
	background-color: #bcbbbb;
	border: none;
	margin-bottom: 25px;
	margin-top: 0px;
}